*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

a{
    text-decoration: none;
    color: black;
}

input{
    outline: none;
}

input[type="button"]{
    border: none;
}

ol,ul,li, p{list-style: none;}

.gb-1{
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

#page{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
}

/* header */
#header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.search {
    width: 60%;
    height: 40px;
    display: flex;
    max-width: 500px;
    border: 1px solid black;
}

.search input[type="text"]{
    width: calc(100% - 50px);
    border: none;
    border-right: 1px solid black;
    padding: 2px 8px;
}

.search input[type="button"]{
    background: url(../images/search.png) no-repeat center/contain;
    background-size: 20px 20px;
    width: 60px;
    height: 100%;
}

#mypage{
    width: 95px;
}

#mypage ul{
    width: 100%;
    height: 100%;
    display: flex;
}

#mypage>ul li{
    width: 80%;
    height: 80%;
    flex: 1;
}

#header img{
    width: 80px;
    height: 80px;
}

#header p{
    width: 70px;
    height: 70px;
}

/* menu */
#menu{
    width: 100%;
    padding: 30px 0;
}

#menu li a{
    color: #19183B;
    font-weight: bold;
}

#menu > ul{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

#menu > ul > li{
    position: relative;
    text-align: center;
} 

#menu > ul > li a{
    width: max-content;
    height: 100%;
    display: block;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    line-height: 60px;
}
#menu > ul > li ul{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    min-width: 100%;
    background: #E7F2EF;
    padding: 10px 0;
}



#menu > ul li a:hover+ul{
    display: block;
}

#menu > ul li ul:hover{
    display: block;
}

#menu > ul li ul li a:hover{
    background: #A1C2BD;
}

#menu > ul li a:hover{
    background: #A1C2BD;
}